

<p id="notice"><%= notice %></p>

<p>
  <b>Descripcion:</b>
  <%=raw @activity.Description %>
  
</p>


<%= link_to 'Editar', edit_activity_path(@activity) %> |
<%= link_to 'Regresar', activities_path %>
<br />


